*{
    background-color: #d8d8d8;
}

body {
    width: 800px;
    margin: auto;
    font-size: 100%;
}

body *{
    background-color: #ffffff;
}

h2{
	width: 40%;
    font-family: serif;
    font-weight: bold;
    border: 2px solid #207cca;
    border-radius: 20px;
    padding: 40px 20px;
    background-color: #85ADFF;
    text-align: center;
}

form {
        padding: 20px 0px 50px 50px;
        width: 750px;
        height: auto;
        margin: auto;
}

form h2{
    margin: 20px auto;
    margin-right: 228px;
}

h4{
    font-family: serif;
    color: #5C8AE6;
}

.participant {
        width: 300px;
        margin: 0px;
}

.code {
        width: 150px;
        margin: 0px;
}

.submit {
    width: 100px;
}

/* up button */
b.up
{
font-family: "Arial", Helvetica, sans-serif;
cursor: pointer;
float: right;
}
b.up:hover {color: black;}

/* down button */
b.down
{
font-family: "Arial", Helvetica, sans-serif;
cursor: pointer;
float: right;
}
b.down:hover {color: black;}

/* shows the rank of the element */
font.rankDisp
{
position: absolute;
color: #000000;
font-weight: bold;
}

/* Container div for Rank, HTML form rank selector */
.rankContainer
{
margin-left: 70px;
position: relative;
width: 300px; height: auto;
}

/* Rankable element div for Rank, HTML form rank  */
.rankElement
{
position: relative;
width: 400px; height: auto;
margin: 0px;
padding: 3px;
color: #000000;
border: 1px solid #85ADFF;
}
.rankElement b{
    color: #85ADFF;
}