<!DOCTYPE html>
<html>
    
    <head>
    <title>AC Branches</title>
    <link rel=stylesheet type=text/css href="../static/stylesheet.css">
    </head>
        <body>
            <form id="myForm">
                <h2>The Sorting Hat</h2>
                <br>
                <div id="test">
                    <center><h3> Your input was successfully recorded!<br>
                    Thank you for your time.  You will receive your results shortly.</h3></center>

                    <br>
                    <br>

                </div>
                </form>
            
                   
        </body>
</html>