<!DOCTYPE html>
<html>
    
    <head>
    <title>Amherst Social Clubs</title>
    <link href="../static/select2.min.css" rel="stylesheet"/>
    <link rel=stylesheet type=text/css href="../static/stylesheet.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="../static/select2.min.js"></script>
    </head>
        <body>
            <form method = "post" action="/completed">
            <form id="myForm">
                <h2>Amherst Social Clubs</h2>
                <center style = "margin-left: -30px">Please fill out this form to be placed in an Amherst Social Club</center>
                <br>
                    <h4>Full name: <input class="participant" type="text" name="name"></h4>
                    <h4>AMHERST email: <input class="participant" type="text" name="email" placeholder = "jdoe18@amherst.edu"></h4>
                    <h4>Class:&nbsp;&nbsp;&nbsp;&nbsp;   
                        <select class="js-example-basic-single">
                          <option value="2016">2016 or 2016E</option>
                          <option value="2017">2017 or 2017E</option>
                          <option value="2018">2018 or 2018E</option>
                          <option value="2019">2019 or 2019E</option>
                        </select>
                    </h4>

                    <h4>Gender:&nbsp;&nbsp;&nbsp;&nbsp;   
                        <select class="js-example-basic-single">
                          <option value="1">Woman</option>
                          <option value="2">Man</option>
                          <option value="3">Nonbinary</option>
                        </select>
                    </h4>
                    <h4> Top Club You're In: &nbsp;&nbsp;&nbsp;&nbsp;
                        <select class="js-example-basic-single">
                          <option value="AL">Alabama</option>
                          <option value="WY">Wyoming</option>
                        </select>
                    </h4>
                    <input type="submit" value="Submit">
                </div>
                </form>
            
        <script>$(document).ready(function() {
        $(".js-example-basic-single").select2();
        });</script>           
        </body>
</html>